@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loader {
    0% {
      left: -40%;
      width: 40%;
    }
    50% {
      left: 20%;
      width: 60%;
    }
    100% {
      left: 100%;
      width: 0%;
    }
  }
  
  .animate-loader {
    position: absolute;
    animation: loader 1.2s ease-in-out infinite;
  }
  